@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: var(--BGCOLOR);
  color: var(--PRIMARY);
  color-scheme: dark;
}

@layer base {
  :root {
    --BRAND: rgb(34, 197, 94); /*  green-500 */
    --BRAND-SECONDARY: ; /* sky-700 */

    --BORDER: rgb(71, 85, 105); /*  slate-600 */

    --PRIMARY: rgb(230, 230, 230);
    --SECONDARY: ;
    --NEUTRAL: rgb(163 163 163);
    --HIGHLIGHT: rgb(243 244 246);

    --BGCOLOR: rgb(24, 24, 24);
    --BGCOLOR-SECONDARY: rgb(43, 43, 43);
    --BGCOLOR-TERTIARY: ;
  }
}

@layer components {
  .hover-highlight {
    @apply hover:text-HIGHLIGHT cursor-pointer transition duration-200;
  }
  .box-within-sidebar {
    @apply bg-BGCOLOR-SECONDARY rounded-lg flex flex-col p-5 gap-y-4;
  }
}
