@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: rgb(24, 24, 24);
  color: rgb(230, 230, 230);
  color-scheme: dark;
}

@layer base {
  :root {
    --BRAND: rgb(34, 197, 94); /*  green-500 */
    --BRAND-SECONDARY: ; /* sky-700 */

    --BORDER: rgb(71, 85, 105); /*  slate-600 */

    --PRIMARY: rgb(230, 230, 230); /* */
    --SECONDARY: ; /*slate-400*/

    --BGCOLOR-PRIMARY: rgb(15 23 42); /*slate-900  */
    --BGCOLOR-SECONDARY: rgb(30 41 59); /*slate-800  */
    --BGCOLOR-TERTIARY: rgb(51 65 85); /* slate-700 */
  }
}
