@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: var(--BGCOLOR);
  color: var(--PRIMARY);
  color-scheme: dark;
}

@layer base {
  :root {
    --BRAND: rgb(34, 197, 94); /*  green-500 */

    --PRIMARY: rgb(230, 230, 230);
    --NEUTRAL: rgb(163 163 163);
    --HIGHLIGHT: rgb(243 244 246);

    --BGCOLOR: rgb(24, 24, 24);
    --BGCOLOR-SECONDARY: rgb(43, 43, 43);
  }
}

@layer components {
  .hover-highlight {
    @apply hover:text-HIGHLIGHT cursor-pointer transition duration-200;
  }
  .box-within-sidebar {
    @apply bg-BGCOLOR-SECONDARY rounded-lg flex flex-col p-5 gap-y-4;
  }
}
